Week05/Question03/META-INF/custom.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.springframework.org/schema/custom"
            elementFormDefault="qualified">
    <xsd:element name="student">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="age" type="xsd:integer"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
